* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-header {
  display: flex;
  padding: 50px;
  align-items: center;
}

#item-header {
  margin-left: 20px;
}

.flex-from {
  display: flex;
  gap: 15px;
}
